#skills{
  
  display: flex;
  flex-direction: column;
}
.skill-container{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    
}

.skill-bot{
  width: 100%;
}
.card-style{
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  text-align: center;
  margin: 10px;
}
 
.card-style:hover{
  transform: scale(1.05);
}

.skill-title{
  letter-spacing: 2px;
  padding-top: 5.4rem;
  text-align: center;
  padding-bottom: 4rem;
}

.skill-text{
  font-size: clamp(0.8rem, 2vw, 2rem);
  font-weight: 500;
}
  .card-text{
    display: flex;
    justify-content: start;
    flex-direction: column;
        
  }
  
  .image-style {
    width: 1em;
  }
  @media screen and (max-width: 400px){
    .image-style{
      width: 1em;
    }
  }
  .font-details {
    font-size: 3em;
    font-weight: 500;
    color: #231d5af8;
  }
  
  .font-details-b {
    font-size: 3em;
    font-weight: 500;
    color: #ffffff;
  }
  
  .text-dark{
      text-decoration: none;
      color: black;
      display: flex;
      flex: 1;
      margin: 0 1rem;
      font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  }

  .p-2{
     
      align-items: center;
      padding: 15px;
      text-align: center;
  }

  ul{
    list-style: none;
  }

