#contact{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #ffff;
    position: relative;
    display: flex;
    flex-direction: column;
}

.contact-title{
  padding: 5.4rem 0rem 0rem;
  color: black;
}
.contact-container{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
}
@media screen and (max-width: 768px){
  .contact-container{
     grid-template-columns: 1fr;
  }
}
.column-left{
  display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    overflow: hidden;
    border-right: 2px solid black;
    padding: 20px;
    width: 100%;
    
}

@media screen and (max-width: 768px){
  .column-left{
    border-right: none;
  }
}
.btn-container{
 justify-content: center;
 align-items: center;
 
 display: flex;
 background: #ffff;
 margin: 20px;
}
.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #ffff;
    width: 140px;
  }
.instagram:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #ffff;
}
  .gitlab{
    width: 140px;
      color: #ffff;
      background: linear-gradient(-120deg, #fca326, #fc6D26, #e24329, #fca326);
  }
  .gitlab:hover{
    color: #ffff;
    background: linear-gradient(-120deg, #fca326, #fc6D26, #e24329, #fca326);
  }

  .contact-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 11px;
    background: #2F4E68;
  }
  