#projects{
    background: #2F4E68;
    margin-top: 40px;
}
.projects{
    height: 100%;
    display: flex;
    background: #2F4E68;
    position: relative;  
    justify-content: center;
}

.project-title{
    text-align: center;
    padding: 5.4rem 0rem;
    color: #ffff;
    letter-spacing: 2px;

}

.list-styles {
    list-style-type: circle;
  }
  
  .image-style1 {
    width: 3em;
  }
.url-btn{
    display: flex;
    justify-content: center;
    flex: none;
    text-align: center;
}

.tech-use{
      padding: 20px;
      font-size: 12px;
}

.item{
    align-items: center;
      padding: 15px;
      text-align: center;
      
      line-height: 50px;
}

.image-style{
    width: 2em;
}
